#HEADER_1 {
    height: 95.4px;
    width: 1010.4px;
    perspective-origin: 505.2px 47.7px;
    transform-origin: 505.2px 47.7px;
    background: rgba(0, 0, 0, 0) linear-gradient(rgba(89, 255, 0, 0.39) 0%, rgba(89, 255, 0, 0.38) 46%, rgba(0, 255, 250, 0.39) 100%) repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal 400 normal 15px / 22px ff-tisa-sans-web-pro;
}/*#HEADER_1*/

#HEADER_1:after {
    box-sizing: border-box;
    clear: both;
    content: '"' '"';
    display: table;
    height: 0px;
    width: 0px;
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    font: normal normal 400 normal 15px / 22px ff-tisa-sans-web-pro;
}/*#HEADER_1:after*/

#HEADER_1:before {
    content: '"' '"';
    display: table;
    height: 0px;
    width: 0px;
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    font: normal normal 400 normal 15px / 22px ff-tisa-sans-web-pro;
}/*#HEADER_1:before*/

#DIV_2 {
    height: 45.4px;
    max-width: 960px;
    width: 909.35px;
    perspective-origin: 454.675px 31.2px;
    transform-origin: 454.675px 31.2px;
    font: normal normal 400 normal 15px / 22px ff-tisa-sans-web-pro;
    margin: 0px 50.525px;
    padding: 12px 0px 5px;
}/*#DIV_2*/

#DIV_3 {
    height: 30.4px;
    width: 909.35px;
    perspective-origin: 454.675px 15.2px;
    transform-origin: 454.675px 15.2px;
    font: normal normal 400 normal 22px / 30.8px ff-tisa-sans-web-pro, sans-serif;
    margin: 5px 0px 10px;
}/*#DIV_3*/

#SPAN_4 {
    font: normal normal 400 normal 22px / 30.8px ff-tisa-sans-web-pro, sans-serif;
}/*#SPAN_4*/

#A_5 {
    color: rgb(0, 0, 0);
    text-decoration: none solid rgb(0, 0, 0);
    column-rule-color: rgb(0, 0, 0);
    caret-color: rgb(0, 0, 0);
    border: 0px none rgb(0, 0, 0);
    font: normal normal 700 normal 22px / 30.8px ff-tisa-sans-web-pro, sans-serif;
    outline: rgb(0, 0, 0) none 0px;
}/*#A_5*/

#H1_6 {
    clear: both;
    display: none;
    height: auto;
    visibility: hidden;
    width: auto;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    font: italic normal 400 normal 13px / 22px ff-tisa-sans-web-pro;
    margin: 0px;
}/*#H1_6*/

#DIV_7 {
    height: 32px;
    width: 1010.4px;
    perspective-origin: 505.2px 16.5px;
    transform-origin: 505.2px 16.5px;
    border-bottom: 1px solid rgb(204, 204, 204);
    font: normal normal 400 normal 13px / 22px ff-tisa-sans-web-pro;
}/*#DIV_7*/

#DIV_8, #DIV_11 {
    display: none;
    height: auto;
    width: auto;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    font: normal normal 400 normal 13px / 22px ff-tisa-sans-web-pro;
}/*#DIV_8, #DIV_11*/

#A_9 {
    color: rgb(0, 75, 145);
    text-decoration: underline solid rgb(0, 75, 145);
    column-rule-color: rgb(0, 75, 145);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(0, 75, 145);
    border: 0px none rgb(0, 75, 145);
    font: normal normal 700 normal 13px / 22px ff-tisa-sans-web-pro, sans-serif;
    outline: rgb(0, 75, 145) none 0px;
}/*#A_9*/

#DIV_10 {
    max-width: 960px;
    width: 909.35px;
    perspective-origin: 454.675px 0px;
    transform-origin: 454.675px 0px;
    font: normal normal 400 normal 13px / 22px ff-tisa-sans-web-pro;
    margin: 0px 50.525px;
}/*#DIV_10*/

#SPAN_12 {
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    font: normal normal 400 normal 13px / 22px ff-tisa-sans-web-pro;
}/*#SPAN_12*/

#UL_13 {
    float: left;
    height: 32.8px;
    width: 898.65px;
    perspective-origin: 449.325px 16.4px;
    transform-origin: 449.325px 16.4px;
    font: normal normal 400 normal 13px / 13px ff-tisa-sans-web-pro, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 0px 1px;
    padding: 0px;
}/*#UL_13*/

#LI_14 {
    bottom: 0px;
    float: left;
    height: 32.8px;
    left: 0px;
    position: relative;
    right: 0px;
    top: 0px;
    width: 125.75px;
    perspective-origin: 62.875px 16.4px;
    transform-origin: 62.875px 16.4px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal 400 normal 13px / 13px ff-tisa-sans-web-pro, sans-serif;
    list-style: none outside none;
}/*#LI_14*/

#A_15 {
    bottom: 0px;
    color: rgb(102, 102, 102);
    display: block;
    height: 12.8px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(102, 102, 102);
    top: 0px;
    width: 98.75px;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 63.375px 16.4px;
    transform-origin: 63.375px 16.4px;
    caret-color: rgb(102, 102, 102);
    border: 1px solid rgb(204, 204, 204);
    font: normal normal 400 normal 13px / 13px ff-tisa-sans-web-pro, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 0px -1px;
    outline: rgb(102, 102, 102) none 0px;
    padding: 9px 13px;
}/*#A_15*/

#SPAN_16, #SPAN_32, #SPAN_44, #SPAN_62, #SPAN_74, #SPAN_98, #SPAN_124 {
    color: rgb(102, 102, 102);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(102, 102, 102);
    column-rule-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    font: normal normal 400 normal 13px / 13px ff-tisa-sans-web-pro, sans-serif;
    list-style: none outside none;
    outline: rgb(102, 102, 102) none 0px;
}/*#SPAN_16, #SPAN_32, #SPAN_44, #SPAN_62, #SPAN_74, #SPAN_98, #SPAN_124*/

#UL_17, #UL_33, #UL_75 {
    display: none;
    height: auto;
    position: absolute;
    text-align: left;
    top: -12987px;
    visibility: hidden;
    width: 156px;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border-bottom: 1px solid rgb(204, 204, 204);
    font: normal normal 400 normal 13px / 13px ff-tisa-sans-web-pro, sans-serif;
    list-style: none outside none;
    margin: 0px;
    padding: 0px;
}/*#UL_17, #UL_33, #UL_75*/

#LI_18, #LI_20, #LI_22, #LI_24, #LI_26, #LI_28, #LI_34, #LI_36, #LI_38, #LI_40, #LI_46, #LI_48, #LI_50, #LI_52, #LI_54, #LI_56, #LI_58, #LI_64, #LI_66, #LI_68, #LI_70, #LI_76, #LI_78, #LI_80, #LI_82, #LI_84, #LI_86, #LI_88, #LI_90, #LI_92, #LI_94, #LI_100, #LI_102, #LI_104, #LI_106, #LI_108, #LI_110, #LI_112, #LI_114, #LI_116, #LI_118, #LI_120, #LI_126, #LI_128, #LI_130, #LI_132, #LI_134, #LI_136, #LI_138, #LI_140, #LI_142, #LI_144, #LI_146 {
    float: left;
    height: auto;
    position: relative;
    visibility: hidden;
    width: 100%;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal 400 normal 13px / 13px ff-tisa-sans-web-pro, sans-serif;
    list-style: none outside none;
}/*#LI_18, #LI_20, #LI_22, #LI_24, #LI_26, #LI_28, #LI_34, #LI_36, #LI_38, #LI_40, #LI_46, #LI_48, #LI_50, #LI_52, #LI_54, #LI_56, #LI_58, #LI_64, #LI_66, #LI_68, #LI_70, #LI_76, #LI_78, #LI_80, #LI_82, #LI_84, #LI_86, #LI_88, #LI_90, #LI_92, #LI_94, #LI_100, #LI_102, #LI_104, #LI_106, #LI_108, #LI_110, #LI_112, #LI_114, #LI_116, #LI_118, #LI_120, #LI_126, #LI_128, #LI_130, #LI_132, #LI_134, #LI_136, #LI_138, #LI_140, #LI_142, #LI_144, #LI_146*/

#A_19, #A_21, #A_25, #A_29, #A_35, #A_39, #A_47, #A_51, #A_55, #A_59, #A_65, #A_69, #A_77, #A_81, #A_85, #A_89, #A_93, #A_101, #A_105, #A_109, #A_113, #A_117, #A_121, #A_127, #A_131, #A_135, #A_139, #A_143, #A_147 {
    color: rgb(102, 102, 102);
    display: block;
    position: relative;
    text-align: left;
    text-decoration: none solid rgb(102, 102, 102);
    visibility: hidden;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(102, 102, 102);
    background: rgb(250, 250, 250) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 1px solid rgb(204, 204, 204);
    border-right: 1px solid rgb(204, 204, 204);
    border-bottom: 0px none rgb(102, 102, 102);
    border-left: 1px solid rgb(204, 204, 204);
    font: normal normal 400 normal 13px / 13px ff-tisa-sans-web-pro, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 0px -1px;
    outline: rgb(102, 102, 102) none 0px;
    padding: 9px 13px;
}/*#A_19, #A_21, #A_25, #A_29, #A_35, #A_39, #A_47, #A_51, #A_55, #A_59, #A_65, #A_69, #A_77, #A_81, #A_85, #A_89, #A_93, #A_101, #A_105, #A_109, #A_113, #A_117, #A_121, #A_127, #A_131, #A_135, #A_139, #A_143, #A_147*/

#A_23, #A_27, #A_37, #A_49, #A_57, #A_67, #A_79, #A_87, #A_95, #A_103, #A_111, #A_119, #A_129, #A_137, #A_145 {
    color: rgb(102, 102, 102);
    display: block;
    position: relative;
    text-align: left;
    text-decoration: none solid rgb(102, 102, 102);
    visibility: hidden;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(102, 102, 102);
    background: rgb(250, 250, 250) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 1px solid rgb(204, 204, 204);
    border-right: 1px solid rgb(204, 204, 204);
    border-bottom: 0px none rgb(102, 102, 102);
    border-left: 1px solid rgb(204, 204, 204);
    font: normal normal 400 normal 13px / 13px ff-tisa-sans-web-pro, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 0px -1px;
    outline: rgb(102, 102, 102) none 0px;
    padding: 9px 13px;
}/*#A_23, #A_27, #A_37, #A_49, #A_57, #A_67, #A_79, #A_87, #A_95, #A_103, #A_111, #A_119, #A_129, #A_137, #A_145*/

#LI_30 {
    bottom: 0px;
    float: left;
    height: 32.8px;
    left: 0px;
    position: relative;
    right: 0px;
    top: 0px;
    width: 75.925px;
    perspective-origin: 37.9625px 16.4px;
    transform-origin: 37.9625px 16.4px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal 400 normal 13px / 13px ff-tisa-sans-web-pro, sans-serif;
    list-style: none outside none;
}/*#LI_30*/

#A_31 {
    bottom: 0px;
    color: rgb(102, 102, 102);
    display: block;
    height: 12.8px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(102, 102, 102);
    top: 0px;
    width: 48.925px;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 38.4625px 16.4px;
    transform-origin: 38.4625px 16.4px;
    caret-color: rgb(102, 102, 102);
    border: 1px solid rgb(204, 204, 204);
    font: normal normal 400 normal 13px / 13px ff-tisa-sans-web-pro, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 0px -1px;
    outline: rgb(102, 102, 102) none 0px;
    padding: 9px 13px;
}/*#A_31*/

#A_41, #A_53, #A_71, #A_83, #A_107, #A_133 {
    color: rgb(102, 102, 102);
    display: block;
    position: relative;
    text-align: left;
    text-decoration: none solid rgb(102, 102, 102);
    visibility: hidden;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(102, 102, 102);
    background: rgb(250, 250, 250) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 1px solid rgb(204, 204, 204);
    border-right: 1px solid rgb(204, 204, 204);
    border-bottom: 0px none rgb(102, 102, 102);
    border-left: 1px solid rgb(204, 204, 204);
    font: normal normal 400 normal 13px / 13px ff-tisa-sans-web-pro, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 0px -1px;
    outline: rgb(102, 102, 102) none 0px;
    padding: 9px 13px;
}/*#A_41, #A_53, #A_71, #A_83, #A_107, #A_133*/

#LI_42 {
    bottom: 0px;
    float: left;
    height: 32.8px;
    left: 0px;
    position: relative;
    right: 0px;
    top: 0px;
    width: 67.7625px;
    perspective-origin: 33.875px 16.4px;
    transform-origin: 33.875px 16.4px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal 400 normal 13px / 13px ff-tisa-sans-web-pro, sans-serif;
    list-style: none outside none;
}/*#LI_42*/

#A_43 {
    bottom: 0px;
    color: rgb(102, 102, 102);
    display: block;
    height: 12.8px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(102, 102, 102);
    top: 0px;
    width: 40.7625px;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 34.375px 16.4px;
    transform-origin: 34.375px 16.4px;
    caret-color: rgb(102, 102, 102);
    border: 1px solid rgb(204, 204, 204);
    font: normal normal 400 normal 13px / 13px ff-tisa-sans-web-pro, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 0px -1px;
    outline: rgb(102, 102, 102) none 0px;
    padding: 9px 13px;
}/*#A_43*/

#UL_45 {
    display: none;
    height: auto;
    position: absolute;
    text-align: left;
    top: -12987px;
    visibility: hidden;
    width: 169px;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border-bottom: 1px solid rgb(204, 204, 204);
    font: normal normal 400 normal 13px / 13px ff-tisa-sans-web-pro, sans-serif;
    list-style: none outside none;
    margin: 0px;
    padding: 0px;
}/*#UL_45*/

#LI_60 {
    bottom: 0px;
    float: left;
    height: 32.8px;
    left: 0px;
    position: relative;
    right: 0px;
    top: 0px;
    width: 86.175px;
    perspective-origin: 43.0875px 16.4px;
    transform-origin: 43.0875px 16.4px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal 400 normal 13px / 13px ff-tisa-sans-web-pro, sans-serif;
    list-style: none outside none;
}/*#LI_60*/

#A_61 {
    bottom: 0px;
    color: rgb(102, 102, 102);
    display: block;
    height: 12.8px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(102, 102, 102);
    top: 0px;
    width: 59.175px;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 43.5875px 16.4px;
    transform-origin: 43.5875px 16.4px;
    caret-color: rgb(102, 102, 102);
    border: 1px solid rgb(204, 204, 204);
    font: normal normal 400 normal 13px / 13px ff-tisa-sans-web-pro, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 0px -1px;
    outline: rgb(102, 102, 102) none 0px;
    padding: 9px 13px;
}/*#A_61*/

#UL_63 {
    display: none;
    height: auto;
    position: absolute;
    text-align: left;
    top: -12987px;
    visibility: hidden;
    width: 200.571px;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border-bottom: 1px solid rgb(204, 204, 204);
    font: normal normal 400 normal 13px / 13px ff-tisa-sans-web-pro, sans-serif;
    list-style: none outside none;
    margin: 0px;
    padding: 0px;
}/*#UL_63*/

#LI_72 {
    bottom: 0px;
    float: left;
    height: 32.8px;
    left: 0px;
    position: relative;
    right: 0px;
    top: 0px;
    width: 112.95px;
    perspective-origin: 56.475px 16.4px;
    transform-origin: 56.475px 16.4px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal 400 normal 13px / 13px ff-tisa-sans-web-pro, sans-serif;
    list-style: none outside none;
}/*#LI_72*/

#A_73 {
    bottom: 0px;
    color: rgb(102, 102, 102);
    display: block;
    height: 12.8px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(102, 102, 102);
    top: 0px;
    width: 85.95px;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 56.975px 16.4px;
    transform-origin: 56.975px 16.4px;
    caret-color: rgb(102, 102, 102);
    border: 1px solid rgb(204, 204, 204);
    font: normal normal 400 normal 13px / 13px ff-tisa-sans-web-pro, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 0px -1px;
    outline: rgb(102, 102, 102) none 0px;
    padding: 9px 13px;
}/*#A_73*/

#A_91, #A_115, #A_141 {
    color: rgb(102, 102, 102);
    display: block;
    position: relative;
    text-align: left;
    text-decoration: none solid rgb(102, 102, 102);
    visibility: hidden;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(102, 102, 102);
    background: rgb(250, 250, 250) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 1px solid rgb(204, 204, 204);
    border-right: 1px solid rgb(204, 204, 204);
    border-bottom: 0px none rgb(102, 102, 102);
    border-left: 1px solid rgb(204, 204, 204);
    font: normal normal 400 normal 13px / 13px ff-tisa-sans-web-pro, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 0px -1px;
    outline: rgb(102, 102, 102) none 0px;
    padding: 9px 13px;
}/*#A_91, #A_115, #A_141*/

#LI_96 {
    bottom: 0px;
    float: left;
    height: 32.8px;
    left: 0px;
    position: relative;
    right: 0px;
    top: 0px;
    width: 68.4px;
    perspective-origin: 34.2px 16.4px;
    transform-origin: 34.2px 16.4px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal 400 normal 13px / 13px ff-tisa-sans-web-pro, sans-serif;
    list-style: none outside none;
}/*#LI_96*/

#A_97 {
    bottom: 0px;
    color: rgb(102, 102, 102);
    display: block;
    height: 12.8px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(102, 102, 102);
    top: 0px;
    width: 41.4px;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 34.7px 16.4px;
    transform-origin: 34.7px 16.4px;
    caret-color: rgb(102, 102, 102);
    border: 1px solid rgb(204, 204, 204);
    font: normal normal 400 normal 13px / 13px ff-tisa-sans-web-pro, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 0px -1px;
    outline: rgb(102, 102, 102) none 0px;
    padding: 9px 13px;
}/*#A_97*/

#UL_99 {
    display: none;
    height: auto;
    position: absolute;
    text-align: left;
    top: -12987px;
    visibility: hidden;
    width: 224.714px;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border-bottom: 1px solid rgb(204, 204, 204);
    font: normal normal 400 normal 13px / 13px ff-tisa-sans-web-pro, sans-serif;
    list-style: none outside none;
    margin: 0px;
    padding: 0px;
}/*#UL_99*/

#LI_122 {
    bottom: 0px;
    float: left;
    height: 32.8px;
    left: 0px;
    position: relative;
    right: 0px;
    top: 0px;
    width: 212.85px;
    perspective-origin: 106.425px 16.4px;
    transform-origin: 106.425px 16.4px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal 400 normal 13px / 13px ff-tisa-sans-web-pro, sans-serif;
    list-style: none outside none;
}/*#LI_122*/

#A_123 {
    bottom: 0px;
    color: rgb(102, 102, 102);
    display: block;
    height: 12.8px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(102, 102, 102);
    top: 0px;
    width: 185.85px;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 106.925px 16.4px;
    transform-origin: 106.925px 16.4px;
    caret-color: rgb(102, 102, 102);
    border: 1px solid rgb(204, 204, 204);
    font: normal normal 400 normal 13px / 13px ff-tisa-sans-web-pro, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 0px -1px;
    outline: rgb(102, 102, 102) none 0px;
    padding: 9px 13px;
}/*#A_123*/

#UL_125 {
    display: none;
    height: auto;
    position: absolute;
    text-align: left;
    top: -12987px;
    visibility: hidden;
    width: 204.286px;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border-bottom: 1px solid rgb(204, 204, 204);
    font: normal normal 400 normal 13px / 13px ff-tisa-sans-web-pro, sans-serif;
    list-style: none outside none;
    margin: 0px;
    padding: 0px;
}/*#UL_125*/

#LI_148 {
    bottom: 0px;
    float: left;
    height: 32.8px;
    left: 0px;
    position: relative;
    right: 0px;
    top: 0px;
    width: 148.837px;
    perspective-origin: 74.4125px 16.4px;
    transform-origin: 74.4125px 16.4px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal 400 normal 13px / 13px ff-tisa-sans-web-pro, sans-serif;
    list-style: none outside none;
}/*#LI_148*/

#A_149 {
    bottom: 0px;
    color: rgb(102, 102, 102);
    display: block;
    height: 12.8px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(102, 102, 102);
    top: 0px;
    width: 121.838px;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 74.9125px 16.4px;
    transform-origin: 74.9125px 16.4px;
    caret-color: rgb(102, 102, 102);
    border: 1px solid rgb(204, 204, 204);
    font: normal normal 400 normal 13px / 13px ff-tisa-sans-web-pro, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 0px -1px;
    outline: rgb(102, 102, 102) none 0px;
    padding: 9px 13px;
}/*#A_149*/

