.spaceOverlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left:0;
  background: url('/ugh.jpg');
  background-size: cover;
}

.spaceShape {
  box-shadow: inset 0px 0px 27px -1px rgba(0,0,0,0.75);
}

.breathe {
  animation: breathe 3s infinite ease-in-out;
}

.titleText {
  font-size: 150px;
  letter-spacing: 10px;
}

.secondText {
  font-size: 127px;
  letter-spacing: 5px;
}

.thirdText {
  font-size: 127px;
  letter-spacing: 5px;
}

.countdown {
  font-size: 114px;
  letter-spacing: 15px;
}

@keyframes breathe{
  50%{
    transform: scaleY(1.03);
    transform-origin: 50% 50%;
  }
}

