.spaceOverlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left:0;
}

.spaceShape {
  fill: gold;
  box-shadow: inset 0px 0px 27px -1px rgba(0,0,0,0.75);
}

.breathe {
  animation: breathe 3s infinite ease-in-out;
}

.titleText {
  font-size: 150px;
  letter-spacing: 260px;
}

.secondText {
  font-size: 127px;
    letter-spacing: 45px;
}

.thirdText {
  font-size: 127px;
  letter-spacing: 45px;
}

@keyframes breathe{
  50%{
    transform: scaleY(1.03);
    transform-origin: 50% 50%;
  }
}


.countdown {
  position: absolute;
  top: 28%;
  left: 31%;
  width: 240px;
  transform: rotateZ(-90deg);
}

.clockText {
  font-size: 70px;
}